<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="./">
		<title>Nhận diện động vật</title>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="icon" type="image/x-icon" href="./img/logo.png">
		<link rel="icon" type="image/x-icon" href="./img/logo-2.png">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/mainPage.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</head>
	<body>
		<!-- navbar -->
		<div id="header">
			<div id="logo"></div>
			<div id="logo-2"></div>
			<ul>
				<li><a id="page_about" href="{{ url_for('about') }}">About</a></li>
				<li>|</li>
				<li><a id="page_home"  href="{{ url_for('index') }}">Home</a></li>
				<li>|</li>
				<li><a id="page_contact"  href="./">Contact</a></li>
			</ul>
		</div>

		<!-- loading frame -->
		<div id="loading-frame">
			<span id="loading-text">Initializing</span>
			<div id="loading-bar-frame">
				<div id="loading-bar"></div>
			</div>
		</div>

	
		<div id="home" class="page">
			<div class="introduction-container">
				<div class="introduction-content">
					<p>
						Chào mừng bạn đến với <strong>Hệ thống Phân loại Động vật</strong>. Đây là một hệ thống học sâu (Deep Learning) được đào tạo trên dữ liệu hình ảnh của nhiều loại động vật khác nhau.
					</p>
					<p>
						Mô hình tận dụng sức mạnh của mạng nơ-ron tích chập (Convolutional Neural Networks - CNNs) để trích xuất các đặc trưng từ hình ảnh và đưa ra dự đoán chính xác.
					</p>
					<div class="features">
						<strong>Những tính năng nổi bật:</strong>
						<ul>
							<li>Nhận diện động vật với độ chính xác cao.</li>
							<li>Hỗ trợ phân loại nhiều loài động vật, từ động vật hoang dã đến động vật nuôi.</li>
							<li>Giao diện thân thiện và dễ sử dụng.</li>
						</ul>
					</div>
					<div class="team-members">
						<strong>Website được thực hiện bởi các thành viên:</strong>
						<ul>
							<li>Đàng Huỳnh Khánh Đoan - 48.01.104.027</li>
							<li>Nguyễn Minh Hiếu - 48.01.104.044</li>
							<li>Nguyễn Đắc Long - 48.01.104.080</li>
							<li>Trần Thuận Phát - 48.01.104.103</li>
							<li>Nguyễn Quang Vinh - 48.01.104.149</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		

		<!-- about modal category -->



		<div id="modal">
			
			<div id="model-select">
				
			</div>
		</div>

		

		<div id="vr_button_frame"></div>
		<div id="log" style="position:absolute;top:0;left:0;color:white;height:100%;width: 100%;pointer-events: none;"></div>
	
		<img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 1">
        <img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 2">
        <img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 3">
        <img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 4">
        <img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 5">
        <img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 6">
        <img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 7">
        <img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 8">
        <img class="bg-paw" src="{{ url_for('static', filename='images/bg_paw.png') }}" alt="Paw background 9">
	</body>
</html>
